<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NON SEMANTIC</title>
  </head>
  <body>
    <div>
      <div>DIV</div>
      <span>SPAN</span>
      <div>ASIDE</div>
      <div>
        MAIN

        <div>

          ARTICLE
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

          <div>SECTION</div>

        </div>
      </div>
    </div>

    <div>FOOTER</div>
  </body>
</html>
