<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NON SEMANTIC</title>
    <!-- 
    <style>
     * {
      border: 1px solid gray
     }
    </style>
    -->
  </head>
  <body>
    <div class="wrapper">

      <header>header</header>
      <nav>
       <ul class="menu">
        <li>
         <a href="#">HOME</a>
        </li>
        <li>
         <a href="#">CONTACT</a>
        </li>
       </ul>
      </nav>
      <aside>ASIDE</aside>
      <main>
        MAIN
        <div>
          <article>
            
           <header></header>
term
            <figure>
             <img src="./assets/images/image.jpg" alt="details">
             <figcaption>La légende</figcaption>
            </figure>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita fugiat autem est asperiores quibusdam iure facilis, aspernatur odio corrupti inventore nostrum facere architecto fuga quae ratione cum corporis dolor.</p>
            <footer>
             — author @2025
            </footer>
          </article>
          <section>SECTION</section>
        </div>
       </main>
    </div>

    <div>FOOTER</div>
  </body>
</html>
