<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Component navigation</title>
 <style>
  ul.menu{
   border:1px solid red;
   display: flex;
   gap: 16px;
   /*delete all bullets*/
   list-style-type: none;
  }
  li.menu-item{
    padding: 20px;
  }
  li.menu-item a{
   text-decoration: none;
  }
 </style>
</head>
<body>
 <!-- 
  balisage
  liens
  style
 -->

 <header>
  <nav>
   <ul class="menu">
    <li class="menu-item">
     <a href="#">HOME</a>
    </li>
    <li class="menu-item">
     <a href="#">SERVICES</a>
    </li>
    <li class="menu-item">
     <a href="#">ABOUT</a>
    </li>
    <li class="menu-item">
     <a href="#">CONTACT</a>
    </li>
   </ul>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit . <a href="#"> Ea</a> voluptatem libero, sequi omnis tenetur alias earum similique nostrum sint facilis tempore enim labore impedit saepe maiores, dignissimos officia voluptatum iusto.</p>
 </header>

</html>